@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Lato:wght@400;700;900&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}



/* shared section starts here */
body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    
}

.primary-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn{
    padding: 1rem 2rem;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #ff42a5;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    
    
}
.secondery-btn{
    padding: 1rem 2rem;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #4EC5F7;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    
}
.primary-titel{
    color: #0B0223;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    /* padding-top: 0.5em; */
}
.primary-dis{
    text-align: center;
    color: #534C64;
    font-size: 0.9em;
    font-weight: 500;
}


/* shared section ends here */

/* nav section starts here */
nav{
    display: flex;
    justify-content: space-between;
    
    padding:1em 2em 1em 2em;
    
}

.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
    
}

.nav-option{
    
    text-decoration: none;
    color:#3C354F ;
    font-size: 1.1em;
    font-weight: 500;
    
}



.nav-left{
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    align-items: center;
}

.nav-logo{
    width: 5rem;
    height: auto;
}

.nav-titel{
    font-size: 2.5em;
    font-weight: 700;
}

.nav-btn{
    height: 3rem;
    max-width: 12rem;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 500;
    
}




/* nav section ends here */
/* banner section starts here */
.banner{
    background-image:url(../img/1.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15rem;
    padding-right: 15rem;

}


.banner-titel-1{
    color: #0B0223;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    
}

.banner-titel-2{
    font-size: 4.5em;
    font-weight: 800;
    text-align: center;
    
   
}

.banner-dis{
    display: flex;
    gap: 0.5em;
    text-align: center;
    color: #534C64;
    font-size: 1.1em;
    font-weight: 500;
}
.banner-dis1{
    display: flex;
    gap: 0.5em;
    text-align: center;
    color: #534C64;
    font-size: 1.1em;
    font-weight: 500;
}
.banner-dis2{
    display: flex;
    gap: 0.5em;
    text-align: center;
    color: #534C64;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1rem;
}
.banner-img{
   height: 30rem;
   width: 30rem;
}



/* banner section ends here */

/* funny section starts here */
.gap{
    margin-top: 4rem;
}
.funny-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;

    
}
.funny-img{
    height: 15rem;
    width: 12rem;
}
.funny-dis{
    font-size: 1em;
    font-weight: 500;
    width: 12rem;
}
.card:hover{
    filter: brightness(30%);

}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 20px;
  
  
}
.text-overlay{
    color: #fff;
    font-size: 1em;
}
.funny-img-container .overlay:hover{
    opacity: 2;
}

/* funny section starts here */

/* playi section starts here */

.playi{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 11rem;
    align-items: center;

}

.playi1{
    height: 25rem;
    width: 23rem;
}
.playi2{
    height: 11rem;
    width: 9rem;
    position:absolute;
    bottom: -3rem;
    right: -3rem;
}

.playi-img{
    position: relative;
    display: block;
}
.playi-content{
    display: flex;
    flex-direction: column;
    align-items: start;
}





/* playi section ends here */

/* all games section starts here */
.all-games{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 1.5rem;
    height: 10rem;
    padding: 0 13rem;
    
    
    
}
.games{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    height: 1rem;
    width: auto;
    padding: 1.5rem;
    border-radius: 1.5em;
}
.game-img{
    height: 2.6rem;
}
.games p{
    font-size: 0.8rem;
    font-weight: 500;
    
}

.games:hover{
    color: #F948B2;
   
}
.games:hover{
    border: 2px solid #ff42a5;
    
}

/* all games section ends here */

/* footer section start's here */

.footer-section{
    background-color: #0B0223;
    padding: 4rem 7rem;
}

.footer-header{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    
}
.footer-options{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    gap: 2rem;
    margin-bottom: 1rem;
}
.footer-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.extra-option{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}




/* footer section ends here */

@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-left{
       display: flex;
       justify-content: center;
       
      
    }

    .nav-right{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .banner{
        margin: 0;
        padding: 2rem;
        flex-direction: column;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .bottom-gap{
        margin-bottom: 1rem;
    }
    .banner-img-container{
        padding: 0 6rem 0 0rem;
    }
    .funny-img-container{
        display: flex;
        flex-direction: column;
    }
    .playi{
        display: flex;
        flex-direction: column;
        
    }
    
   .playi1{
        padding: 0.1 4rem;
   }
   .playi2{
        padding: 1.7rem;
        
   }
   .playi-content{
        display: flex;
        align-items: center;
   }

   .all-games{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:2rem 0 2rem 0;
    margin-bottom: 13rem;
    
    
   }
   .games-container{
    padding: 0;
    margin: 0;
   }
   
   .footer-options{
    gap: 1rem;
   }
}
/* mobile divece ends here */

 /* medium divece start's here */

 @media screen and (min-width:576px) and (max-width:960px) {
      
 }



/* medium divece ends here */


/* Responsive media queri ends here */

